.lead {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.display-4 {
    font-family: 'Caveat', cursive;
    font-weight: bold;
}
textarea {
    font-family: 'Caveat', cursive;
    resize: none;
}
.jumbotron {
    text-align: center;
    color: white;
}
#clockDate {
    align-content: center;
    font-weight: bold;
    font-size: 2rem;
    padding: 0 27rem;
}

.clearButton {
    align-items: center;
}
